@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom Global Styles Start*/
body{
    font-family: 'Poppins', sans-serif;
}
/* .custom-extra02-bg{
    background-image: url('images/xDiavel-02-banner-full.jpg');
    background-position:top;
    background-size: cover;
}
.custom-height{
    height: 400px;
} */
.custom-btn{
    background: #E76F51;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 46px;
    color: white;
}
.custom-btn:hover{
    background: #E76F22;
    color: white;
}
.custom-title-split-color{
    color: #E76F51;
}
/* Custom Global Styles End*/

/* Custom Styles Start*/
.custom-header-bg{
    background-color: #264653;
}
.custom-hero-h1{
    font-size: 3rem;
    font-weight: 600;
}

.custom-sub-title{
    color:#E76F51;
    font-weight: 600;
}

.custom-img-grayscale{
    filter: grayscale(100%);
}

.custom-client-rating i{
font-size: 18px;
padding: 4px;
}
.bi-star-fill{
    color: #E77C40;
}
.bi-star{
    color: #E77C40;
}




/* .custom-client-rating ul{
    display: flex;
    list-style: none;

}
.custom-client-rating ul li{
    display: flex;
    list-style: none;

}
.bi-star-fill{
    color: #E77C40;
}
.bi-star{
    color: #E77C40;
} */
/* Custom Styles End*/