@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom Global Styles Start */
body{
    font-family: 'Poppins', sans-serif;
}
.custom-btn{
    background: #E76F51;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 46px;
    color: white;
}
.custom-btn:hover{
    background: #E76F22;
    color: white;
}
.custom-title-split-color{
    color: #E76F51;
}
.custom-section-margin{
    margin-top: 160px;
    margin-bottom: 100px;
}
/* Custom Global Styles End */

/* hero Section Start */
.custom-header-bg{
    background-color: #264653;
}
.custom-hero-h1{
    font-size: 3rem;
    font-weight: 600;
}
/* hero Section End */

/* feature section start */
.custom-sub-title{
    color:#E76F51;
    font-weight: 600;
}

.custom-img-grayscale{
    filter: grayscale(100%);
}
/* feature section End */

/* Clients section start */
.custom-client-rating i{
    font-size: 18px;
    padding: 4px;
}
.bi-star-fill{
    color: #E77C40;
}
.bi-star{
    color: #E77C40;
}
/* Clients section End */

/* Footer section Start */
.custom-footer-bg{
    background-color: #1a1a21;
}

.custom-footer-bg i{
    color: #dd3d53;
}
.custom-footer-social-icon{
    font-size: 25px;
    padding: 5px;
}
.custom-footer-social-icon:hover{
    color: white;
}
/* Footer section End */